 {"openapi":"3.0.1","info":{"title":"Mustangserver","description":"Mustangproject e-invoice REST server API","contact":{"name":"Jochen Staerk","url":"http://mustangproject.org/","email":"jstaerk@usegroup.de"},"license":{"name":"proprietary","url":"http://mustangproject.org/server"},"version":"v1.3.0"},"externalDocs":{"description":"Mustangserver Documentation","url":"https://www.mustangproject.org/files/manual-1.3.0.pdf"},"servers":[{"url":"https://gw.usegroup.de:8243/mustang/1.3.0"},{"url":"http://gw.usegroup.de:8280/mustang/1.3.0"}],"security":[{"default":[]}],"paths":{"/mustang/xmltohtml":{"post":{"tags":["mustang-controller"],"summary":"Visualisation from XML to HTML.","operationId":"xmltohtml","parameters":[{"name":"language","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string","enum":["EN","FR","DE"]},"example":"DE"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Visualisation from XML to HTML.","content":{"application/octet-stream":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/validate":{"post":{"tags":["validation-controller"],"summary":"Checks a PDF or XML file for syntactical and mathematical correctness. Input file must be a PDF/A file (Factur-X, ZUGFeRD, Order-X) or a XML file (Factur-X, Order-X, ZUGFeRD, XRechnung(CII)), output will be a XML report","operationId":"validateFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Checks a PDF or XML file for syntactical and mathematical correctness. Input file must be a PDF/A file (Factur-X, Order-X, ZUGFeRD) or a XML file (Factur-X, Order-X, ZUGFeRD, XRechnung(CII)), output will be a XML report","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/phive":{"post":{"tags":["validation-controller"],"summary":"Validates a XML file","operationId":"phive","parameters":[{"name":"VESID","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["inputFile"],"type":"object","properties":{"inputFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Returns a XRechnung validation string","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/parse":{"post":{"tags":["mustang-controller"],"summary":"Reads a Factur-X file into an invoice object. Requires a PDF or CII or UBL XML file.","operationId":"parse","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Reads a Factur-X file into an invoice object","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalculatedInvoice"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/invoice2XML":{"post":{"tags":["mustang-controller"],"summary":"Invoice class to XML. Input must be JSON.","operationId":"invoice2xml","parameters":[{"name":"format","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"fx"},{"name":"profile","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"EN16931"},{"name":"version","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"},"example":2}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}},"required":true},"responses":{"200":{"description":"Invoice class to XML. Input must be JSON, output will be XML (CII).","content":{"application/xml":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/extract":{"post":{"tags":["mustang-controller"],"summary":"Extracts XML from a zf/fx PDF or XML. Input PDF must be ZUGFeRD or Factur-X, XML must be xr,zf,fx or ox","operationId":"extractFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Extracts XML from a PDF or XML","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/combine":{"post":{"tags":["mustang-controller"],"summary":"Combine PDF/A file and JSON invoice object. Output PDF will be a ZUGFeRD/Factur-X PDF/A-3 file called invoice.pdf.","operationId":"combine","parameters":[{"name":"standard","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"fx"},{"name":"profile","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"EN16931"},{"name":"version","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"},"example":2}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file","json"],"type":"object","properties":{"file":{"type":"string","format":"binary"},"json":{"type":"string"}}}}}},"responses":{"200":{"description":"Combine PDF/A file and JSON to zf/fx PDF. Input PDF must be PDF/A-1, output PDF will be a ZUGFeRD/Factur-X PDF/A-3 file called invoice.pdf.","content":{"application/pdf":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}},"400":{"description":"Bad Request","content":{"application/pdf":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/combineXML":{"post":{"tags":["mustang-controller"],"summary":"Combine PDF/A-1 file and custom XML to zf/fx PDF. Input PDF must be PDF/A-1 or A-3, output PDF will be a ZUGFeRD/Factur-X PDF/A-3 file called invoice.pdf.","operationId":"combineXML","parameters":[{"name":"format","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"fx"},{"name":"version","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int32"},"example":2},{"name":"profile","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"EN16931"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["XML","file"],"type":"object","properties":{"file":{"type":"string","format":"binary"},"XML":{"type":"string"}}}}}},"responses":{"200":{"description":"Combine PDF/A-1 file and custom XML to zf/fx PDF. Input PDF must be PDF/A-1, output PDF will be a ZUGFeRD/Factur-X PDF/A-3 file called invoice.pdf.","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/cii2ubl":{"post":{"tags":["mustang-controller"],"summary":"Converts a UN/CEFACT CII XML file to UBL","operationId":"cii2ubl","requestBody":{"content":{"application/xml":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Converts a UN/CEFACT CII XML file to UBL","content":{"application/xml":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/ping":{"get":{"tags":["mustang-controller"],"summary":"Healthcheck. Just request a ping, will respond with a 'pong'","operationId":"ping","responses":{"200":{"description":"Healthcheck. Just request a ping, will respond with a 'pong'","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/mustang/notice":{"get":{"tags":["version-controller"],"summary":"Returns legal related information","operationId":"notice","responses":{"200":{"description":"Returns legal related information","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/error":{"get":{"tags":["pre-error-controller"],"operationId":"error","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}}},"components":{"schemas":{"ApiErrorResponse":{"required":["errorCode","httpCode","requestUrl"],"type":"object","properties":{"requestUrl":{"type":"string","description":"URL"},"httpCode":{"type":"integer","description":"HTTP code","format":"int32"},"errorCode":{"type":"string","description":"Internal error code"},"message":{"type":"string","description":"Message"}},"description":"Response holding information for client errors."},"BankDetails":{"type":"object","properties":{"accountName":{"type":"string"},"ownBIC":{"type":"string","deprecated":true},"ownIBAN":{"type":"string","deprecated":true},"iban":{"type":"string"},"bic":{"type":"string"},"ownPaymentInfoText":{"type":"string"},"settlementXML":{"type":"string"},"paymentXML":{"type":"string"}}},"CalculatedInvoice":{"type":"object","properties":{"documentName":{"type":"string"},"documentCode":{"type":"string"},"number":{"type":"string"},"ownOrganisationFullPlaintextInfo":{"type":"string"},"referenceNumber":{"type":"string"},"shipToOrganisationID":{"type":"string"},"shipToOrganisationName":{"type":"string"},"shipToStreet":{"type":"string"},"shipToZIP":{"type":"string"},"shipToLocation":{"type":"string"},"shipToCountry":{"type":"string"},"buyerOrderReferencedDocumentID":{"type":"string"},"invoiceReferencedDocumentID":{"type":"string"},"buyerOrderReferencedDocumentIssueDateTime":{"type":"string"},"ownForeignOrganisationID":{"type":"string","deprecated":true},"ownOrganisationName":{"type":"string","deprecated":true},"currency":{"type":"string"},"paymentTermDescription":{"type":"string"},"issueDate":{"type":"string","format":"date-time"},"dueDate":{"type":"string","format":"date-time"},"deliveryDate":{"type":"string","format":"date-time"},"sender":{"$ref":"#/components/schemas/IZUGFeRDExportableTradeParty"},"recipient":{"$ref":"#/components/schemas/IZUGFeRDExportableTradeParty"},"deliveryAddress":{"$ref":"#/components/schemas/TradeParty"},"notes":{"type":"array","items":{"type":"string"}},"sellerOrderReferencedDocumentID":{"type":"string"},"contractReferencedDocument":{"type":"string"},"totalPrepaidAmount":{"type":"number"},"paymentTerms":{"$ref":"#/components/schemas/IZUGFeRDPaymentTerms"},"invoiceReferencedIssueDate":{"type":"string","format":"date-time"},"specifiedProcuringProjectID":{"type":"string"},"specifiedProcuringProjectName":{"type":"string"},"despatchAdviceReferencedDocumentID":{"type":"string"},"grandTotal":{"type":"number"},"valid":{"type":"boolean"},"zfitems":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDExportableItem"}},"correction":{"$ref":"#/components/schemas/Invoice"},"vatdueDateTypeCode":{"type":"string"},"tradeSettlement":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDTradeSettlement"}},"ownTaxID":{"type":"string","deprecated":true},"ownVATID":{"type":"string","deprecated":true},"ownStreet":{"type":"string"},"ownZIP":{"type":"string"},"ownLocation":{"type":"string"},"ownCountry":{"type":"string"},"zfallowances":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"zfcharges":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"zflogisticsServiceCharges":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"detailedDeliveryPeriodFrom":{"type":"string","format":"date-time"},"detailedDeliveryPeriodTo":{"type":"string","format":"date-time"},"additionalReferencedDocuments":{"type":"array","items":{"$ref":"#/components/schemas/FileAttachment"}},"notesWithSubjectCode":{"type":"array","items":{"$ref":"#/components/schemas/IncludedNote"}},"ownContact":{"$ref":"#/components/schemas/Invoice"},"tradeSettlementPayment":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/IZUGFeRDTradeSettlementPayment"}},"subjectNote":{"type":"string"}}},"FileAttachment":{"type":"object","properties":{"filename":{"type":"string"},"mimetype":{"type":"string"},"relation":{"type":"string"},"description":{"type":"string"},"data":{"type":"array","items":{"type":"string","format":"byte"}}}},"IReferencedDocument":{"type":"object","properties":{"typeCode":{"type":"string"},"issuerAssignedID":{"type":"string"},"referenceTypeCode":{"type":"string"}}},"IZUGFeRDAllowanceCharge":{"type":"object","properties":{"percent":{"type":"number"},"taxPercent":{"type":"number"},"categoryCode":{"type":"string"},"charge":{"type":"boolean"},"reason":{"type":"string"}}},"IZUGFeRDExportableContact":{"type":"object","properties":{"name":{"type":"string"},"location":{"type":"string"},"country":{"type":"string"},"id":{"type":"string"},"vatid":{"type":"string"},"street":{"type":"string"},"zip":{"type":"string"},"phone":{"type":"string"},"fax":{"type":"string"},"email":{"type":"string"},"additionalAddress":{"type":"string"}}},"IZUGFeRDExportableItem":{"type":"object","properties":{"value":{"type":"number"},"detailedDeliveryPeriodFrom":{"type":"string","format":"date-time"},"detailedDeliveryPeriodTo":{"type":"string","format":"date-time"},"notes":{"type":"array","items":{"type":"string"}},"itemTotalAllowances":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"additionalReferencedDocumentID":{"type":"string"},"buyerOrderReferencedDocumentLineID":{"type":"string"},"price":{"type":"number"},"basisQuantity":{"type":"number"},"quantity":{"type":"number"},"product":{"$ref":"#/components/schemas/IZUGFeRDExportableProduct"},"itemAllowances":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"itemCharges":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"referencedDocuments":{"type":"array","items":{"$ref":"#/components/schemas/IReferencedDocument"}}}},"IZUGFeRDExportableProduct":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"unit":{"type":"string"},"taxExemptionReason":{"type":"string"},"sellerAssignedID":{"type":"string"},"globalID":{"type":"string"},"globalIDScheme":{"type":"string"},"buyerAssignedID":{"type":"string"},"vatpercent":{"type":"number"},"reverseCharge":{"type":"boolean"},"taxCategoryCode":{"type":"string"},"intraCommunitySupply":{"type":"boolean"}}},"IZUGFeRDExportableTradeParty":{"type":"object","properties":{"name":{"type":"string"},"location":{"type":"string"},"country":{"type":"string"},"id":{"type":"string"},"email":{"type":"string"},"contact":{"$ref":"#/components/schemas/IZUGFeRDExportableContact"},"taxID":{"type":"string"},"vatid":{"type":"string"},"street":{"type":"string"},"zip":{"type":"string"},"additionalAddress":{"type":"string"},"uriUniversalCommunicationID":{"type":"string"},"globalID":{"type":"string"},"globalIDScheme":{"type":"string"},"additionalAddressExtension":{"type":"string"},"legalOrganisation":{"$ref":"#/components/schemas/IZUGFeRDLegalOrganisation"},"uriUniversalCommunicationIDScheme":{"type":"string"}}},"IZUGFeRDLegalOrganisation":{"type":"object","properties":{"id":{"type":"string"},"schemeID":{"type":"string"}}},"IZUGFeRDPaymentDiscountTerms":{"type":"object","properties":{"calculationPercentage":{"type":"number"},"baseDate":{"type":"string","format":"date-time"},"basePeriodMeasure":{"type":"integer","format":"int32"},"basePeriodUnitCode":{"type":"string"}}},"IZUGFeRDPaymentTerms":{"type":"object","properties":{"description":{"type":"string"},"dueDate":{"type":"string","format":"date-time"},"discountTerms":{"$ref":"#/components/schemas/IZUGFeRDPaymentDiscountTerms"}}},"IZUGFeRDTradeSettlement":{"type":"object","properties":{"paymentXML":{"type":"string"},"settlementXML":{"type":"string"}}},"IZUGFeRDTradeSettlementPayment":{"type":"object","properties":{"ownPaymentInfoText":{"type":"string"},"ownBIC":{"type":"string"},"ownIBAN":{"type":"string"},"accountName":{"type":"string"},"settlementXML":{"type":"string"},"paymentXML":{"type":"string"}}},"IncludedNote":{"type":"object","properties":{"content":{"type":"string"},"subjectCode":{"type":"string","enum":["AAI","SUR","REG","ABL","TXD","CUS","ACY","AAK"]}}},"Invoice":{"type":"object","properties":{"documentName":{"type":"string"},"documentCode":{"type":"string"},"number":{"type":"string"},"ownOrganisationFullPlaintextInfo":{"type":"string"},"referenceNumber":{"type":"string"},"shipToOrganisationID":{"type":"string"},"shipToOrganisationName":{"type":"string"},"shipToStreet":{"type":"string"},"shipToZIP":{"type":"string"},"shipToLocation":{"type":"string"},"shipToCountry":{"type":"string"},"buyerOrderReferencedDocumentID":{"type":"string"},"invoiceReferencedDocumentID":{"type":"string"},"buyerOrderReferencedDocumentIssueDateTime":{"type":"string"},"ownForeignOrganisationID":{"type":"string","deprecated":true},"ownOrganisationName":{"type":"string","deprecated":true},"currency":{"type":"string"},"paymentTermDescription":{"type":"string"},"issueDate":{"type":"string","format":"date-time"},"dueDate":{"type":"string","format":"date-time"},"deliveryDate":{"type":"string","format":"date-time"},"sender":{"$ref":"#/components/schemas/IZUGFeRDExportableTradeParty"},"recipient":{"$ref":"#/components/schemas/IZUGFeRDExportableTradeParty"},"deliveryAddress":{"$ref":"#/components/schemas/TradeParty"},"notes":{"type":"array","items":{"type":"string"}},"sellerOrderReferencedDocumentID":{"type":"string"},"contractReferencedDocument":{"type":"string"},"totalPrepaidAmount":{"type":"number"},"paymentTerms":{"$ref":"#/components/schemas/IZUGFeRDPaymentTerms"},"invoiceReferencedIssueDate":{"type":"string","format":"date-time"},"specifiedProcuringProjectID":{"type":"string"},"specifiedProcuringProjectName":{"type":"string"},"despatchAdviceReferencedDocumentID":{"type":"string"},"valid":{"type":"boolean"},"zfitems":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDExportableItem"}},"correction":{"$ref":"#/components/schemas/Invoice"},"vatdueDateTypeCode":{"type":"string"},"tradeSettlement":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDTradeSettlement"}},"ownTaxID":{"type":"string","deprecated":true},"ownVATID":{"type":"string","deprecated":true},"ownStreet":{"type":"string"},"ownZIP":{"type":"string"},"ownLocation":{"type":"string"},"ownCountry":{"type":"string"},"zfallowances":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"zfcharges":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"zflogisticsServiceCharges":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDAllowanceCharge"}},"detailedDeliveryPeriodFrom":{"type":"string","format":"date-time"},"detailedDeliveryPeriodTo":{"type":"string","format":"date-time"},"additionalReferencedDocuments":{"type":"array","items":{"$ref":"#/components/schemas/FileAttachment"}},"notesWithSubjectCode":{"type":"array","items":{"$ref":"#/components/schemas/IncludedNote"}},"ownContact":{"$ref":"#/components/schemas/Invoice"},"tradeSettlementPayment":{"type":"array","deprecated":true,"items":{"$ref":"#/components/schemas/IZUGFeRDTradeSettlementPayment"}},"subjectNote":{"type":"string"}}},"TradeParty":{"type":"object","properties":{"name":{"type":"string"},"zip":{"type":"string"},"street":{"type":"string"},"location":{"type":"string"},"country":{"type":"string"},"taxID":{"type":"string"},"vatID":{"type":"string"},"additionalAddress":{"type":"string"},"additionalAddressExtension":{"type":"string"},"bankDetails":{"type":"array","items":{"$ref":"#/components/schemas/BankDetails"}},"contact":{"$ref":"#/components/schemas/IZUGFeRDExportableContact"},"id":{"type":"string"},"asTradeSettlement":{"type":"array","items":{"$ref":"#/components/schemas/IZUGFeRDTradeSettlement"}},"email":{"type":"string"},"vatid":{"type":"string"},"uriUniversalCommunicationID":{"type":"string"},"globalID":{"type":"string"},"globalIDScheme":{"type":"string"},"legalOrganisation":{"$ref":"#/components/schemas/IZUGFeRDLegalOrganisation"},"uriUniversalCommunicationIDScheme":{"type":"string"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gw.usegroup.de:8243/authorize","scopes":{}}}}}}}